.transactionHistory {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.transactionHistory thead {
    background-color: #00bcd5;
    color: #fff;
}

.transactionHistory th {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.transactionHistory td {
    padding: 15px;
    text-align: center;
    color: #666;
    font-size: 14px;
    text-transform: capitalize;
}

.transactionHistory tbody tr:nth-child(even) {
    background-color: #ecf1f4;
}

.transactionHistory tbody tr:hover {
    background-color: #e4f2f5;
}